*.iml
.gradle
/local.properties
.idea/**/*
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/codeStyles/
!.idea/codeStyles/**
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
